*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-verk-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --soft-black: hsl(0, 0%, 0%);
}
html,body{
    background-color: white;
    font-size: 16px;
    color: black;
    text-rendering: optimizeLegibility;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 300;
    max-width : 1440px;
    height: 100vh;
}

header{
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
}
.main-nav{
    list-style: none;
    padding : 17px;
}

.main-nav li{
    display: inline-block;
    /* margin-left: 20px; */
}
.main-nav li h3{
    font-weight: 700;
    font-size: 200%;
    padding-right: 13px;
    margin-left: 83px;
}
.main-nav li a{
    text-decoration: none;
    padding: 15px;
    color: hsl(220, 13%, 13%);
    font-size: 120%;
}

.nav-icon{
    
}
.nav-avatar{
    position: absolute;
    right : 0;
    margin-right: 12px;
    margin-top : 5px;
    width: 65px;
    height: auto;
}
hr{
    color:hsl(220, 13%, 13%);
    font-weight: 300;
    width: 85%;
    margin: 0 auto;
    
}


.content-section{
    display: inline;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}
.img-content{
    width: 45%;
    float: left;
    margin: 0 auto;
    padding-top: 45px;
    padding-left: 120px;
    /* border: 2px solid red; */
}
#big-img{
    width: 400px;
    height: auto;
    border-radius: 15px;
    padding: 5px;
}
.shop-content{
    margin: 0 auto;
    width: 45%;
    padding: 10px 50px;
    /* border: 2px solid red; */
    
}
.img-content li img{
    float: left;
    width: 100px;
    height: auto;
    padding: 5px 7px;
    border-radius: 15px;
}
.img-content li img::after{
    content: "";
    display: table;
    clear: both;
}
li{
    list-style: none;
}


.content-section::after{
    content: "";
    display: table;
    clear: both;
}

.line-one{
    padding: 60px 10px 10px;
    color:hsl(26, 100%, 55%);
    font-weight: 700;
}

h2{
    font-size: 250%;
    padding: 10px;
    font-weight: 600;
    color: hsl(220, 13%, 13%) ;
}
.line-two{
    color:  hsl(219, 9%, 45%);
    padding: 10px;
}
.price{
    font-size: 150%;
    font-weight: 600;
    color: hsl(220, 13%, 13%) ;
    padding: 10px;
}
.price span{
    font-size: 70%;
    font-weight: 700;
    color:hsl(26, 100%, 55%);
    margin-left: 10px;
    background-color: hsl(26, 100%, 97%);
    border-radius: 10px;
    padding: 5px;
}
.discount{
    font-size: 85%;
    padding: 10px 10px 20px 10px;
    font-weight: 150;
    color:hsl(220, 13%, 13%);
}
.cart{
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    /* border: 2px solid red; */

}
.minus,.plus{
    padding: 5px 10px;
    color:hsl(26, 100%, 55%);
    cursor: pointer;
    border: none;
    background-color: hsl(30, 25%, 98%);
}
.amount{
    font-size: 100%;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 2%;
    background-color: hsl(30, 25%, 98%);
}

.add-to-cart{
    margin-left: 20px;
    padding: 10px 60px;
    background-color: hsl(26, 100%, 55%);
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.add-to-cart span{
    font-size: 105%;
    font-weight: 800;
    color: hsl(25, 100%, 94%);
    text-align: center;
    vertical-align: auto;
}




/* LIGHTBOX */


.modal{
    display: block;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow:auto;
    background-color:hsl(0, 0%, 0%);
    border: 2px solid red;
}
.modalContent{
    
    margin: auto;
    padding: 50px auto;;
    width: 40%;
    height: 90vh;
    max-width: 1200px;
    border: 2px solid red;
    
    
    
}
.my-imgs img{
    width: 400px;
    margin-top: 40px;
    margin-left: 70px;
    border-radius: 10px;
    position: relative;
}
.prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -70px;
    margin-left: 55px;
    background-color: white;
    width: auto;
    padding: 12px;
    font-size: 120%;
    color:hsl(26, 100%, 55%);
    border-radius: 50%;
}
.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 395px;
    margin-top: -70px;
    margin-right: 70px;
    background-color: white;
    width: auto;
    padding: 12px;
    font-size: 120%;
    color:hsl(26, 100%, 55%);
    border-radius: 50%;
}

.close{
    position: relative;
    top: 35px;
    left: 65%;
    background-color: white;
    color:hsl(26, 100%, 55%);
    cursor: pointer;
    font-size: 120%;
    padding: 3px 10px 5px;
    border-radius: 50%;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
}

.column img{
    margin:5px;
    width: 90px;
    border-radius: 10px;
}
